<html>
<head>
<title></title>
</head>
<body>
The information about the account of phone sold by Company
<form action="/submit" method="POST">
    <p>CompanyName<input name ="name" /></p>
    <p>Q1<input name ="q1" /></p>
    <p>Q2<input name ="q2" /></p>
		<p>Q3<input name ="q3" /></p>
		<p>Q3比上季<input name ="q3last" /></p>
    <input type="submit" value="submit">
</form>
</body>
</html>
