<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
<style>
table td{ width:100px; height:30px; line-height:30px; border:10px solid #063; text-align:left;}
</style>
<table>
   <tr>
        <th>CompanyName</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q3last</th>
    </tr>
    <tr>
        <td>{{.NAME}}</td>
        <td>{{.Q1}}</td>
        <td>{{.Q2}}</td>
        <td>{{.Q3}}</td>
        <td>{{.Q3last}}</td>
    </tr>
</table>
